<!-- ******Mes Trips****** -->
<!-- ******Titre****** -->

<div class="container">
    <div class="container text-center">
        <div class="intro text-center titre">Les trips de <%= current_user.name %></div>
    </div>
    <div class="desc text-center">
        <h1>J'ai sauvegardé ces destinations </h1>
    </div>
    <!-- ******Liste destinations****** -->
    <div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
        <ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle " data-hover="dropdown" data-delay="0" data-filter=".montrajetnyc">NYC<i class="fa fa-angle-down"></i></a></button>
        </ul>

        <div class="item-inner">
            <div class="liste-page-maps col-xl-3 col-md-3 col-12">
                <div class="header-box">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                </div>

                <ul class="sub-title">
                    <li>Brooklyn</li>
                    <li>WTC</li>
                    <li>Central Park</li>
                    <li>Statue de la Liberté</li>
                    <li>BK</li>

                </ul>
            </div> <!--//liste-page-maps-->
            <div class="carte-page-maps col-xl-9 col-md-9 col-12">
                <p>Carte</p>
            </div>
        </div><!--//item-inner-->
    </div><!--//box-carte-liste-->
        <button class="btn button"><%= link_to "Modifier ce trip", method: :patch %></button>
        <button class="btn button"><%= link_to "Supprimer ce trip", method: :get %></button>
    
    <div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
        <ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle " data-hover="dropdown" data-delay="0" data-filter=".montrajetparis">Paris<i class="fa fa-angle-down"></i></a></button>
        </ul>
        <div class="item-inner">

            <div class="liste-page-maps col-xl-3 col-md-3 col-12">
                <div class="header-box">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                </div>

                <ul class="sub-title">
                    <li>Musée du Louvre</li>
                    <li>Musée d'Orsay</li>
                    <li>Food Market</li>
                    <li>Botanique</li>
                    <li>Le Badaboum</li>

                </ul>
            </div> <!--//liste-page-maps-->
            <div class="carte-page-maps col-xl-9 col-md-9 col-12">
                <p>Carte</p>
            </div>
        </div><!--//item-inner-->
        <button class="btn button"><%= link_to "Modifier ce trip", method: :patch %></button>
        <button class="btn button"><%= link_to "Supprimer ce trip", method: :get %></button>
    </div><!--//box-carte-liste-->
</div><!--//container-->