<!-- ******Mes Trips****** -->
<!-- ******Titre****** -->

<div class="container">
    <div class="container text-center">
        <div class="intro text-center titre">Les trips de <%= current_user.name %></div>
    </div>
    <div class="desc text-center">
        <h1>J'ai sauvegardé ces destinations </h1>
    </div>
    <!-- ******Liste destinations****** -->
    <div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
<<<<<<< HEAD
        <ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle " data-hover="dropdown" data-delay="0" data-filter=".montrajetnyc">NYC<i class="fa fa-angle-down"></i></a></button>
        </ul>
=======
<p><button class="btn btn-primary col-xl-12 col-md-12 col-12 " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    NY</button></p>
        <!-- partie carte -->
        <div class="box-carte-page-maps container item col-xl-12 col-md-12 col-12 collapse row "  id="collapseExample">
            <div class="item-inner">
                <div class="liste-page-maps col-xl-3 col-md-3 col-12">
>>>>>>> 14fd3dd32ab836d161a902c11f5261cc6c4d7294:app/views/home/trips.html.erb

                    <div class="desc text-center">
                        <h5>A New-York, je souhaite visiter :</h5>
                    </div>
                    
                    <div id="name-save">
                        <ul class="sub-title">

<<<<<<< HEAD:app/views/trips/index.html.erb
				<ul class="sub-title">
					<li>Statue de la liberté</li>
					<li>Empire State</li>
					<li>Brooklyn</li>
					<li>Central Park</li>
				</ul>
			</div> <!--//liste-page-maps-->
			<div class="carte-page-maps col-xl-9 col-md-9 col-12">
				<p>Carte</p>
			</div>
			<button class="btn button"><%= link_to "Modifier ce trip", method: :patch %></button>
			<button class="btn button"><%= link_to "Supprimer ce trip", method: :get %></button>
		</div><!--//item-inner-->
	</div><!--//box-carte-liste-->

	<div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
		<ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle " data-hover="dropdown" data-delay="0" data-filter=".montrajetparis">Paris<i class="fa fa-angle-down"></i></a></button>
		</ul>
		<div class="item-inner">
=======
                        </ul>
                    </div>
                </div>

                <div id="map-wrapper" class="col-xl-9 col-md-9 col-12">
                    <div id="map">
>>>>>>> 14fd3dd32ab836d161a902c11f5261cc6c4d7294:app/views/home/trips.html.erb
>>>>>>> 7952003c102e95d471c332c6fa158fe7b91943f1

        <div class="item-inner">
            <div class="liste-page-maps col-xl-3 col-md-3 col-12">
                <div class="header-box">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                </div>

                <ul class="sub-title">
                    <li>Brooklyn</li>
                    <li>WTC</li>
                    <li>Central Park</li>
                    <li>Statue de la Liberté</li>
                    <li>BK</li>

                </ul>
            </div> <!--//liste-page-maps-->
            <div class="carte-page-maps col-xl-9 col-md-9 col-12">
                <p>Carte</p>
            </div>
<<<<<<< HEAD
        </div><!--//item-inner-->
    </div><!--//box-carte-liste-->
        <button class="btn button"><%= link_to "Modifier ce trip", method: :patch %></button>
        <button class="btn button"><%= link_to "Supprimer ce trip", method: :get %></button>
    
    <div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
        <ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle " data-hover="dropdown" data-delay="0" data-filter=".montrajetparis">Paris<i class="fa fa-angle-down"></i></a></button>
        </ul>
        <div class="item-inner">
=======
            <!--//item-->
        </div>
        <!--//item-inner-->
    </div>
    <!--//box-carte-liste-->
    <!-- ******Liste destinations****** -->
    <div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
<p><button class="btn btn-primary col-xl-12 col-md-12 col-12 " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    NY</button></p>
        <!-- partie carte -->
        <div class="box-carte-page-maps container item col-xl-12 col-md-12 col-12 collapse row "  id="collapseExample">
            <div class="item-inner">
                <div class="liste-page-maps col-xl-3 col-md-3 col-12">

                    <div class="desc text-center">
                        <h5>A New-York, je souhaite visiter :</h5>
                    </div>
                    
                    <div id="name-save">
                        <ul class="sub-title">
>>>>>>> 7952003c102e95d471c332c6fa158fe7b91943f1

                        </ul>
                    </div>
                </div>

                <div id="map-wrapper" class="col-xl-9 col-md-9 col-12">
                    <div id="map">

<<<<<<< HEAD
                </ul>
            </div> <!--//liste-page-maps-->
            <div class="carte-page-maps col-xl-9 col-md-9 col-12">
                <p>Carte</p>
            </div>
        </div><!--//item-inner-->
        <button class="btn button"><%= link_to "Modifier ce trip", method: :patch %></button>
        <button class="btn button"><%= link_to "Supprimer ce trip", method: :get %></button>
    </div><!--//box-carte-liste-->
</div><!--//container-->
=======
                    </div>
                </div>


                <!--//item-inner-->
            </div>
            <!--//item-->
        </div>
        <!--//item-inner-->
    </div>
    <!--//box-carte-liste-->
    
    
</div>
<!--//container-->
>>>>>>> 14fd3dd32ab836d161a902c11f5261cc6c4d7294:app/views/home/trips.html.erb
>>>>>>> 7952003c102e95d471c332c6fa158fe7b91943f1
