
<!-- slider -->
<div class="contain_slide slider-home">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class= "text-slider"><h1>Avec I Make My Trip je crée mes propres itinéraires au gré de mes destinations ! </h1>       

        <a href="#" class="btn btn-primary " id="ctaSlider">Creer mon itinéraire</a> 
        </div>

        


        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner filtre-slider">


            <div class="item slider-images">
                <%= image_tag("slide1.jpg") %>
            </div>

            <div class="item slider-images">
                <%= image_tag("slide2.jpg") %>
            </div>

            <div class="item active slider-images">
                <%= image_tag("slide3.jpg") %>
            </div>
        </div>
    </div>
</div>
        <!-- fin du slider -->


        <br>
        <br>

      

        <section id="who" class="who section">
            <div class="container text-center">
                <h2 class="title text-center">En visite à</h2>
                <p class="intro text-center">Choisissez votre destination et un planning déjà prévu par d'autres voyageurs ou personnalisez-le avec le boutton "Your Trip !". Enjoy !</p>

                <div class="row benefits text-center">
                    <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 box-home">
                        <div class="item-inner">
                            <h4 class="sub-title titre-box">Londres</h4>
                            <%= image_tag("londres.jpg") %>
                        </div>
                    </div>
                    <!--//item-->
                    <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 box-home">
                        <div class="item-inner">
                            <h4 class="sub-title titre-box">Paris</h4>
                            <%= image_tag("paris.jpg")%>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 box-home">
                        <div class="item-inner">
                            <h4 class="sub-title titre-box">New-York</h4>
                            <%= image_tag("new-york.jpg")%>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 box-home">
                        <div class="item-inner">
                            <h4 class="sub-title titre-box">Los Angeles</h4>
                            <%= image_tag("la.jpg")%>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <!--//row-->
                <a class="btn btn-cta btn-cta-secondary" href="/map">Your Trip !</a>
            </div>
            <!--//container-->
        </section>
        <!--//who-->

        <!-- ******Latest blog Section****** -->
        <section id="latest-blog" class="latest-blog section">
            <div class="container">
                <h2 class="title text-center">Des idées de voyages :</h2>
                <div class="row">
                    <div class="item col-md-6 col-12">
                        <div class="item-inner">
                            <figure class="figure images-box">
                                <a href="blog-post.html">
                                    <%= image_tag("thailand-2.jpg") %>
                                </a>
                            </figure>
                            <div class="content-wrapper text-center">
                                <h3 class="sub-title"><a href="blog-post.html">Les choses à faire en Thaïlande</a></h3>
                                <div class="desc">
                                    <p>Marie et Léa sont parties en Thaïlande. Elles ont visité Bangkok, Chiang Mai et Phuket et nous recommande vivement plusieurs activités à faire.</p>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//content-wrapper text-center-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item col-md-6 col-12">
                        <div class="item-inner">
                            <figure class="figure images-box">
                                <a href="blog-post.html">
                                    <%= image_tag("islande.jpg") %>
                                </a>
                            </figure>
                            <div class="content-wrapper text-center">
                                <h3 class="sub-title"><a href="blog-post.html">A la conquète des aurores boréales</a></h3>
                                <div class="desc">
                                    <p>Léo a entrepis une chasse des aurores boréales seul. Pour cela il à fait la Norvège, l'Islande, la Suède puis la Finlande. Un spectacle magique qui lui a permis de découvrir de nouveaux pays.</p>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//content-wrapper text-center-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item col-md-6 col-12">
                        <div class="item-inner">
                            <figure class="figure images-box">
                                <a href="blog-post.html">
                                    <%= image_tag("cancun.jpg") %>
                                </a>
                            </figure>
                            <div class="content-wrapper text-center">
                                <h3 class="sub-title"><a href="blog-post.html">Un séjour à Cancùn</a></h3>
                                <div class="desc">
                                    <p>On cherche toujours un endroit paradisiaque pour poser ses valises. Et pourquoi pas a Cancùn? Une ville Mexicaine qui vous fera rêver avec ses plages des Caraïbes.</p>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//content-wrapper text-center-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-md-6 col-12">
                        <div class="item-inner">
                            <figure class="figure images-box">
                                <a href="blog-post.html">
                                    <%= image_tag("montreal-2.jpg") %>
                                </a>
                            </figure>
                            <div class="content-wrapper text-center">
                                <h3 class="sub-title"><a href="blog-post.html">Noël au Québec</a></h3>
                                <div class="desc">
                                    <p>Chloé et Mathieu l'on fait! Un séjour en amoureux inoubliable pour une fin d'année enneigé. Découvrez vous aussi l'accueil chaleureux des Québequois. </p>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//content-wrapper text-center-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </section>
        <!--//latest-blog-->
