<!DOCTYPE html>
<html>
  <head>
    <title>IMakeMyTrip</title>
    <%= favicon_link_tag 'http://www.freeiconspng.com/uploads/--holiday-sea-summer-travel-vacation-icon--icon-search-engine-27.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render '/layouts/header' %>
    <%= yield %>
  </body>
</html>
